<div class="container">
    <div class="content">
      <cdk-virtual-scroll-viewport
        itemSize="25"
        class="viewport"
        minBufferPx="200"
        maxBufferPx="400"
      >
        <table>
          <thead>
            <tr *ngFor="let headerGroup of table.getHeaderGroups(); trackBy: trackByHeaderGroupId">
              <th *ngFor="let header of headerGroup.headers; trackBy: trackByHeaderId" [colSpan]="header.colSpan">
                <ng-container *ngIf="!header.isPlaceholder">
                  <ng-container
                    *flexRender="
                      header.column.columnDef.header;
                      props: header.getContext();
                      let header
                    "
                  >
                    <div [innerHTML]="header"></div>
                  </ng-container>
                </ng-container>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *cdkVirtualFor="let row of table.getRowModel().rows; trackBy: trackByRowId">
              <td *ngFor="let cell of row.getVisibleCells(); trackBy: trackByCellId">
                    <ng-container
                      *flexRender="
                        cell.column.columnDef.cell;
                        props: cell.getContext();
                        let cell
                      "
                    >
                      <div [innerHTML]="cell"></div>
                    </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>
  </div>
</div>